.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    /* color: rgb(197, 197, 197); */
    color: rgb(221, 221, 221);
}
.srch{
    background-color: black;
    border-color: white;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0px;
}
.srch::placeholder {
    color: rgb(223, 223, 223);
    opacity: 1;
  }
 
/* .nav-link img{
    width: 25px;
    height: 25px;
} */
.nav-link{
    font-weight: bold;
}
.topad{
    color: white;
    text-align: center;
}
.topad p{
    top: 30px;
}
.main{
    position: relative;
}
.new_style{
    position: absolute;
    /* right: 50px; */
    left: 50px;
    top: 280px;
}
.newstlye_head{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
.new_style a{
    margin-right: 4px;
}
.btn{
    border-radius: 0px;
}
.suede{
    position: relative;
    background-color: rgba(42,92,94,255);
    width: 100%;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 150px;
}
.suede_dtls{
    position:absolute ;
    top: 20px;
    color: white;
    left: 90px;
}
.suede_head{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}
.pic1{
    position:absolute;
    right: 90px;
    top: -50px;
}
.pic2{
    position: absolute;
    /* bottom: -20px; */
    top: 170px;
    left: 90px;

}
.deviate{
    position: relative;

}
.deviate_dtls{
    position: absolute;
    left: 50PX;
    top: 150px;
    color: white;
}
.deviate_dtls h2{
    font-size: 40px;
}
.grid{
    display: flex;
    background-color: rgba(250,250,250,255);
    margin-left: 150px;
    margin-right: 150px;
    /* background-color: black; */
}
.merc{
    flex: 50%;
}
.fer{
    flex: 50%;
}
.palermo{
    position: relative;
    background-color: rgba(223,213,207,255);
}
.palermo_dtls{
    position: absolute;
    color: rgba(24,24,24,255);
    right: 70px;
    text-align: center;
    top: 200px;
}
.palermo_dtls h2{
    font-size: 3vw;
}
.palermo_dtls p{
    font-size: 25px;
}
.one_piece{
    position: relative;
}
.op{
    position: absolute;
    color: rgba(223,213,207,255);
    left: 50px;
    top: 400px;
    text-align: center;
}
.op h2{
    font-size: 35;
}
.op p{
    font-size: 23px;
}
.op .btn{
    background-color: rgba(223,213,207,255);
}
.moto{
    display: flex;
    width: 100%;
    height: 600px;
    /* overflow: auto; */
    overflow-x: scroll;
}
.moto img{
    padding: 5px 10px;
    height: 580px;
    /* height: 348px; */
}
.motoproducts{
    margin-top: 70px;
    margin-left: 90px;
    margin-right: 90px;
}
.motoproducts h2{
    text-align: center;
    margin-bottom: 30px;
}
.classic{
    display: flex;
}
.classic h4{
    text-align: center;
}
.card{
    border: none;
    background-color: rgba(250,250,250,255);
}
.classicshoes{
    position: relative;
    /* margin-left: 250px;
    margin-right: 250px; */
}
.classicshoes h2{
    left: 20px ;
}
.clr{
    background-color: rgba(250,250,250,255);
}
.easy{
    position: relative;
    background-color: rgba(25,25,25,255);
    width: 100%;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 150px;
}
.easy_dtls{
    position:absolute ;
    top: 20px;
    color: white;
    left: 90px;
}
.easy_head{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}
.easy1{
    position:absolute;
    right: 90px;
    top: -30px;
}
.easy2{
    position: absolute;
    /* bottom: -20px; */
    top: 170px;
    left: 90px;

}
.threecards{
    display: flex;
}
.cards{
    text-align: center;
    margin: 10px 10px;
    background-color: white;
}
footer{
    display: flex;
}

footer a{
    text-decoration: none;
    color: rgb(162, 162, 162);
    font-size: small;
}
footer h6{
    font-weight: bold;
}
footer  a:hover{
    color: white;
}
footer img{
    padding: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 578px) {
    .threecards{
        display: block;
    }
}